@{
    ViewBag.Title = "Home Page";
}

    <section class="hero-section set-bg" data-setbg="template/img/bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text">
                        <h2>Case File System in Court</h2>
                        <p>A unique solution designed for big set-ups which offers dining facility in their canteen to employees. Canteen Management System is designed to create transparency between the employee, company and vendor. It reduces the worry of unauthorized usage where as software helps to automate the complete process. </p>

                    </div>
                </div>
            </div>
        </div>
    </section>